@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Onest:wght@400;600&family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before
{
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
}
body
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.squad-page
{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
.preview-button
{
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: whitesmoke;
}
.preview-button
{
 margin-top: 500px;
 margin-left: 100px;
}
.preview-button:hover
{
 transform: scale(1.01);
}
.preview-button:active
{
  background: #ffffff;
}
#preview-symbol
{
  font-size: 1rem;
  padding-right: 10px;
}
.arrow-para
{
  font-weight: 400;
  position: absolute;
  top: 42.5pc;
  margin-left: 6.5pc;
}
.arrow-style
{
 padding-left: 12.5rem;
 font-size: 2rem;
 position: absolute;
 top: 42pc;
 animation: scrollUpDown 1s infinite;
}

/* ----------------------------for arrow  animation */
 @keyframes scrollUpDown {
            0%{
                transform: translateY(20%) 
               
            }
            50%{
                transform: translateY(25%) ;
             
            }
            100%{
                transform: translateY(40%);
            
            }
} 
/* styles for changes i did */
#us{
  position: relative;
  left: 60px;
  font-size: 2.5rem;
}
#firstimage,#secondimage,#thirdimage{
  position: relative;
  height: 440px;
  left: 100px;
}
#firstimage:hover{
  height: 480px;
  transition: all 0.8s;
}
#secondimage:hover{
  height: 480px;
  transition: 0.8s;
}
#thirdimage:hover{
  height: 480px;
  transition: 0.8s;
}
#firstpara{
  position: relative;
  top: 40px;
  left: 170px;
  font-size: 2.5rem;
  width: 500px;
}
#first-para-contents{
  position: relative;
  top: 120px;
  right: 325px;
  font-size: 1.6rem;
  width: 500px;
  font-style: italic;
  font-weight: lighter;
}
#second-para-contents{
  position: relative;
  top: 120px;
  left: 210px;
  font-size: 1.6rem;
  width: 550px;
  font-weight: lighter;
  font-style: italic;
}
#third-para-contents{
  position: relative;
  top: 120px;
  right: 220px;
  font-size: 1.6rem;
  width: 700px;
  font-style: italic;
}
.fist-image,.third-image{
  display: flex;
  position: relative;
  transition: all 2s;
}
.second-image,.fourth-image{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 90px;
}
#secondpara{
  position: relative;
  top: 40px;
  right: 340px;
  font-size: 2.5rem;
}
.second-image{
  top: 200px;
  right: 230px;
}
.third-image{
  top: 340px;
}
.fourth-image{
  top: 540px;
}
.fifth-image{
  top: 740px;
}
#explore-button{
  position: absolute;
  top: 390%;
  left: 86%;
  background-color: #165bbc;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
#explore-button1{
  position: absolute;
  top: 74%;
  left: 44%;
  background-color: #1b1c1d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
#explore-button2{
  position: absolute;
  top: 81%;
  left: 33%;
  background-color: #1b1c1d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
#explore-button3{
  position: absolute;
  top: 85%;
  left: 49%;
  background-color: #1b1c1d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.gamestrigger{
  position: relative;
  top: 600px;
  background-color: rgba(192, 192, 192, 0.735);
  height: 190px;
}
#game-trigger{
  position: absolute;
  top: 120px;
  left: 650px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  background-color: #393333;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  animation: left-move;
}
#cloud1{
  position: relative;
  left: 120px;
  bottom: 30px;
  height: 110px;
  transition: 0.5s;

}
#cloud2{
  position: relative;
  bottom: 20px;
  left: 75px;
  bottom: 50px;
  height: 90px;
  transition: 0.5s;
}
#cloud3{
  position: relative;
  left: 590px;
  bottom: 50px;
  height: 100px;
  transition: 0.5s;
 
}
#cloud4{
  position: relative;
  left: 660px;
  bottom: 40px;
  height: 110px;
  transition: 0.5s;
}
#controller1{
  position: relative;
  bottom: 60px;
  right: 200px;
  height: 130px;
}
#controller2{
  position: relative;
  left: 570px;
  top: 70px;
  height: 140px;
}
.hidden{
  opacity: 0;
}
